.wrapper

/* .charts-wrapper */
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
.charts-wrapper{
    
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

height:auto ;
    width: 93%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    /* justify-content: space-between; */
}